

# API_PROTECTION_KEY: The custom API Key used to protect the Express Backend Convert Route
API_PROTECTION_KEY="WN3FBAF2GYF"
VITE_API_PROTECTION_KEY="WN3FBAF2GYF"

# VITE_API_URL: Set this to the backend URL when deploying frontend and backend separately
VITE_API_URL=""
